.cont-acom{
    padding:60px 0;
    .cont-acom-img{
        width:60%;
        margin:auto;
        img{
            border-radius:70px;
        }
    }
    .cont-acom-txt{
        display:table;
        width:35%;
        margin:auto;
        margin-top:60px;
    }
}