body{
    background: #f4f4ec;
    // background: #f4f3eb;
    font-family: 'American Typewriter', sans-serif;
}
.contenedor{
    width:90%;
    margin:auto;
}
img{
    vertical-align:top;
    width:100%;
    object-fit:cover;
    object-position:center center;
}
a{
    text-decoration:none;
}
.txt-rosa{
    color:#e394a3;
}
.txt-azul{
    color:#80c0ae;
}
.txt-dos-rem{
    font-size:2rem;
}
@import 'logo';
@import 'cuenta';
@import 'info';
@import 'celebracion';
@import 'acompananos';
@import 'footer';
@import 'responsive';